<div>

	<div class="rocks-accordion">
		<div class="rocks-toggle-button" title="Show/hide cluster features">
			<input
				type="checkbox"
				ng-model="controlPanelVM.rocksPanelService.clustersEnabled"
				ng-change="controlPanelVM.rocksPanelService.toggleClusters()" />
		</div>
		<button class="title" ng-click="controlPanelVM.setTargetPanel('clusterFeatures')">
			<i class="fa fa-{{ controlPanelVM.targetPanel == 'clusterFeatures' ? 'minus' : 'plus' }}"></i>
			Cluster Features
		</button>
	</div>
	<div class="rocks-accordion-content" ng-show="controlPanelVM.targetPanel == 'clusterFeatures'">

		<uib-tabset active="activeJustified" justified="true">
			<uib-tab index="0" heading="Inspect" style="padding: 0px 0px 20px 0px;">
				<rocks-cluster-inspector-panel></rocks-cluster-inspector-panel>
			</uib-tab>
			<uib-tab index="1" heading="Filter" style="padding: 0px 0px 20px 0px;">
				<rocks-cluster-filters></rocks-cluster-filters>
			</uib-tab>
		</uib-tabset>

	</div>

	<div class="rocks-accordion">
		<div class="rocks-toggle-button" title="Show/hide point features WMS layer">
			<input
				type="checkbox"
				ng-model="controlPanelVM.rocksPanelService.pointsEnabled"
				ng-change="controlPanelVM.rocksPanelService.togglePoints(); controlPanelVM.rocksPanelService.pointsEnabled && controlPanelVM.setTargetPanel('pointFeatures')" />
		</div>
		<div class="title" ng-click="controlPanelVM.setTargetPanel('pointFeatures')">
			<i class="fa fa-{{ controlPanelVM.targetPanel == 'pointFeatures' ? 'minus' : 'plus' }}"></i>
			Point Features (WMS)
		</div>
	</div>

	<div class="rocks-accordion-content" ng-show="controlPanelVM.targetPanel == 'pointFeatures'">
		<rocks-wms-points-legend></rocks-wms-points-legend>
	</div>


	<div class="rocks-accordion">
		<div class="rocks-toggle-button" title="Show/hide point features WMS layer">
			<input
				type="checkbox"
				ng-model="controlPanelVM.wmsInspectorService.inspectorEnabled" />
		</div>
		<div class="title" ng-click="controlPanelVM.setTargetPanel('wmsInspector')">
			<i class="fa fa-{{ controlPanelVM.targetPanel == 'wmsInspector' ? 'minus' : 'plus' }}"></i>
			WMS Inspector (GetFeatureInfo)
		</div>
	</div>
	<div class="rocks-accordion-content" ng-show="controlPanelVM.targetPanel == 'wmsInspector'">
		<wms-inspector-panel></wms-inspector-panel>
	</div>


	<div class="rocks-accordion">
		<div class="title w100" ng-click="controlPanelVM.setTargetPanel('clipShip')">
			<i class="fa fa-{{ controlPanelVM.targetPanel == 'clipShip' ? 'minus' : 'plus' }}"></i>
			Download Rock Property Data
		</div>
	</div>

	<div class="rocks-accordion-content" ng-show="controlPanelVM.targetPanel == 'clipShip'">

		<rocks-clip-ship></rocks-clip-ship>

	</div>

</div>