<div ng-hide="rocksWmsPointsVM.rocksPanelService.pointsEnabled">
	Enable Point Features to view layers.
</div>

<div ng-show="rocksWmsPointsVM.rocksPanelService.pointsEnabled">
	<label>
		<button class="btn btn-default btn-xs"
            ng-click="rocksWmsPointsVM.wmsPointsService.deselectLayers()"
			   ng-disabled="!rocksWmsPointsVM.wmsPointsService.someChecked()">
		    Deselect all layers
	    </button>
	</label>

	<div ng-repeat="(key, legend) in rocksWmsPointsVM.wmsPointsService.legendData" class='rocks-points-legend-item'>

		<label>
			<input type="checkbox"
               ng-click="rocksWmsPointsVM.wmsPointsService.toggleLayer(key)"
			      ng-model="legend.isSelected" />
			<img ng-src="{{legend.legendUrl}}" alt="{{legend}} legend icon" />
		</label>

	</div>
</div>