
.rocks-accordion {
    display: block;
    width: 100%;
    height: 50px;
}

.rocks-accordion .rocks-toggle-button {
    text-align: center;
    width: 11%;
    float: left;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #CCC;
}
.rocks-accordion .rocks-toggle-button input[type=checkbox] {

}

.rocks-accordion .title {
    display: inline-block;
    padding: 8px;
    background: #CCC;
    width: 87%;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    float: right;
    border-radius: 3px;
    border: none;
}

.rocks-accordion .title i.fa {
    float: left;
    margin: 5px 0pc 0pc 5px;
}
.rocks-accordion-content {
    padding: 0px 10px 40px 10px;
}

.w100 {
    width: 100% !important;
}

.dis-inline {
    display: inline;
}

.rocks-points-legend-item {
    border-bottom: 1px dotted #CCC;
    cursor: pointer;
}

.rocks-points-legend-item input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -10px;
    *overflow: hidden;
}

.warning-block {
    display: block;
    padding: 10px;
    background: #f0ad4e;
    color: #FFF;
}

#rock-clip-ship-loading {
    text-align: center;
    padding-top: 30px;
}

#clip-ship-spinner {
    width: 80px;
    position: absolute;
    left: 50%;
    margin-left: -40px;
}